.presentacion{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.presentacion h1, p{
    width: 60%;
    text-align: center;
}

.presentacion h1{
    font-size: 28px;
}

.presentacion p{
    font-size: 22px;
}

.autoresC{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 70px;
}

.autoresC .ficha{
    width: 330px;
    height: 410px;
    border-radius: 30px;
}

.gradient{
    background: linear-gradient(to top, #000000e8, #0000001c);
    width: 100%;
    height: 100%;
    border-radius: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.gradient h3{
    text-align: center;
    color: white;
    margin-bottom: 50px;
    font-size: 24px;
    width: 90%;
}

.ficha:nth-child(1){
    background: url(../img/fotos/foto.jpg);
    background-size: 100% 100%;
    background-position: center;
}

.ficha:nth-child(2){
    background: url(../img/fotos/foto2.png);
    background-size: 100% 100%;
    background-position: center;
}

.ficha:nth-child(3){
    background: url(../img/fotos/foto3.png);
    background-size: 100% 100%;
    background-position: center;
}

