*{
    font-family: 'Glory', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{ 
    background: #EAECEE;

}

.titulo {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-position: center;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  z-index: 0;
}

.fondo1 {
  background-image: url('../img/fondos/fondo1.png');
}

.fondo2 {
  background-image: url('../img/fondos/fondo2.png');
}

.fondo3 {
  background-image: url('../img/fondos/fondo3.png');
}

.fondo4 {
  background-image: url('../img/fondos/fondo4.png');
}

.fondo5 {
  background-image: url('../img/fondos/fondo5.png');
}

.fondo6 {
  background-image: url('../img/fondos/fondo6.png');
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 40vh;
    width: 70%;
    gap: 30px;
}

.logo h3{
    width: 70%;
    z-index: 1;
    font-size: 40px;
    color: #171d2a;
    text-align: center;
}
  
.logo img {
    width: 40%;
    min-width: 300px;;
    filter: drop-shadow(-3px 3px 9px rgba(0, 0, 0, 0.35));
    transition: all 0.5s;
    z-index: 1;
}

.titulo .logo img:hover{
    transform: scale(1.1);
}

.logo p{
    width: 70%;
    text-align: center;
    z-index: 1;
    font-size: 20px;
    font-family: 'Glory', sans-serif;
    font-weight: 500;
}

.primero, .segundo {
    color: #6a51a4;
    transition: 1s ease-in-out;
}

.visible {
  opacity: 1;
  z-index: 0;
}

.frase{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.frase h3{
    color: #afafaf;
    font-size: 40px;
    font-family: "Glory", sans-serif;
    font-weight: 300;
}

.frase p{
    font-family: "Glory", sans-serif;
    width: 60%;
    text-align: center;
}

.creamate{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 70px;
    gap: 30px;
}

.creamate h1{
    animation: tada;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    font-size: 40px;
    font-weight: 700;
    font-family: "Glory", sans-serif;
}
.creamate h1 span{
    color: #054593;
}

.contain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    width: 50%;
    background: #054593;
    padding: 35px;
    border-radius: 20px;
}

.contain p{
    color: #ffffff;
    width: 80%;
    text-align: justify;
    font-family: "Glory", sans-serif;
}

.contain p span{
    color: #79b8df;
    font-weight: 600;
}

@media (max-width: 700px){
    .contain{
        width: 95%;
    }
}